<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tech Blog - About</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/theme/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/theme/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/theme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<style type="text/css">
    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
    
    p {
        font-size: smaller;
        text-align: justify;
    }
    
    .tintuc h4 {
        text-align: center;
        line-height: 50px;
        font-weight: normal;
    }
    
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
</style>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Website</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li>
                        <a href="/blog/about">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="/contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <header class="intro-header" style="background-image: url('/static/theme/img/de.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row" style="background-color: #EEEEEE;border:1px solid #FFCC00">
            <div class="col-xs-12 col-md-4">
                <h3>
                    <img class="alignleft size-medium wp-image-28" src="../doi.jpg" alt="" width="300" height="300" style="display: flex;border-radius:300px" />
                </h3>
            </div>
            <div class="col-xs-12 col-md-8" style="padding-top:100px ;">
                <h3>Đội ngũ của chúng tôi</h3>
                <p>Thành công của chúng tôi được tạo nên từ nhiệt huyết và chuyên môn đội ngũ nhân sự của chúng tôi.Những ý tưởng và nhiệt huyết của họ với công ty, nhà cung cấp và đối tác của chúng tôi thúc đẩy sứ mệnh hàng ngày của họ để mang lại hiệu
                    suất kênh phân phối vượt trội.</p>
            </div>
        </div> <br><br>
        <!-- thu2 -->
        <div class="row" style="background-color: #EEEEEE;border:1px solid #FFCC00">
            <div class="col-xs-12 col-md-8" style="padding-top:100px ;">
                <h3>Câu chuyện của chúng tôi</h3>
                <p>Năm 1998, doanh nghiệp hợp nhất hoạt động kinh doanh dưới tên Homedy. Nó được đưa vào hoạt động một năm sau đó để tạo ra doanh nghiệp mà chúng ta biết ngày nay - LoDa Home.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>
                    <img class="alignleft size-medium wp-image-28" src="../ctoi.jpg" alt="" width="300" height="300" style="display: flex;border-radius:300px" />
                </h3>
            </div>
        </div><br><br>
    </div>
    <div class="a" style="width:100%;height:200px;background-image: url('/static/theme/img/dem.jpg');margin-bottom: 20px;">
        <h3 style="text-align: center;padding-top:5%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Tiếp cận toàn cầu, kết nối địa phương</h3>
        <h6 style="text-align: center;">
            Với sự hiện diện tại hơn 70 quốc gia, chúng tôi có độ phủ toàn cầu và khả năng tiếp cận toàn cầu với kiến thức và khả năng thực thi tại địa phương.</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8" style="padding-top:100px ;">
                <h3>Lợi Ích Của Các Bạn</h3>
                <p>Đến với chúng toi các bạn sẽ có một cuộc sống đầy đủ tiện nghi, gần gũi với thiên nhiên, vui vẻ và hạnh phúc.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>
                    <img class="alignleft size-medium wp-image-28" src="../anh.png" alt="" width="400" height="300" style="display: flex;" />
                </h3>
            </div>
        </div>
    </div>
    <br><br>
    <div class="button" style="width:35%;line-height:30px;border:1px solid #FFCC00; text-align:center;margin:auto;border-radius:30px;background-color:#CCCCFF">
        <a href="/blog/contact">Liên hệ với chúng tôi để được tư vấn miễn phí</a>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="main-wrap">
            <div class="footer-wrap">
                <div class="footer-wrap-1">
                    <div class="footer-section">
                        <h1>About</h1>
                        <a href="#">Services</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Pricing</a>
                        <a href="#">Careers</a>
                    </div>
                    <div class="footer-section">
                        <h1>Resources</h1>
                        <a href="#">Docs</a>
                        <a href="#">Blog</a>
                        <a href="#">eBooks</a>
                        <a href="#">Videos</a>
                    </div>
                    <div class="footer-section">
                        <h1>Contact</h1>
                        <a href="#">Help</a>
                        <a href="#">Sales</a>
                        <a href="#">Advertise</a>
                    </div>
                    <div class="footer-section">
                        <h1>Stay Connected</h1>
                        <p>Subscribe to our newsletter to receive latest news.</p>

                    </div>
                </div>
                <div class="footer-wrap-2">
                    <div class="line"></div>
                    <div class="social-link">
                        <a href="#">
                            <img src="../fb.png" alt="Facebook">
                        </a>
                        <a href="#">
                            <img src="../google.png" alt="Google">
                        </a>
                        <a href="#">
                            <img src="../linkedin.png" alt="linkedin">
                        </a>
                        <a href="#">
                            <img src="../twitter.png" alt="twitter">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="first-box">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="last-box">
                    <a href="#">&copy; Copyright 2021 Wavefire Coding. Inc</a>
                </div>
            </div>
        </div>

    </footer>

    <!-- jQuery -->
    <script src="/static/theme/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/theme/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/theme/js/jqBootstrapValidation.js"></script>
    <script src="/static/theme/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/theme/js/clean-blog.min.js"></script>

</body>

</html>